<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylee.css">
</head>
<body>
        <nav class="upper">
            <div class="left">
                <img src="../static/dumbbell.png">
                <div class="logotext">
                  Fit You
                </div>
            </div>
            <div class="mid">
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Form</a></li>
                    <li><a href="diet_plan.html">Diet Plan</a></li>
                </ul>
            </div>
            <div class="right">
                <button class="btn">Call Us Now</button>
                <button class="btn">Email Us</button>
            </div>
        </nav>
        <div class="container">
            <h3> Join The Best Gym in Town Now</h3>
            <form action="/contact.html" method="post">
             <div class="form-group">
                 <input type="text" name="name" placeholder="Enter Your Name">
             </div>
             <div class="form-group">
                 <input type="number" name="age" placeholder="Enter Your Age">
             </div>
             <div class="form-group">
                 <input type="text" name="number" placeholder="Enter Your Contact Number">
             </div>
             <div class="form-group">
                 <input type="text" name="address" placeholder="Enter Your Address">
             </div>
             <button class="btn1">SUBMIT</button>
            </form>
         </div>
</body>
</html>