<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gym Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="upper">
        <div class="left">
            <img src="../static/dumbbell.png">
            <div class="logotext">
              Fit You
            </div>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Form</a></li>
                <li><a href="diet_plan.html">Diet Plan</a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn">Call Us Now</button>
            <button class="btn">Email Us</button>
        </div>
    </nav>
</body>
</html>
    